.vs/*

SchoolAPI/bin/*
SchoolAPI/obj/*
SchoolAPI/appsettings.json
SchoolAPI/appsettings.Development.json
SchoolAPI/schooldb.db


Infrastructure/bin/*
Infrastructure/obj/*

Domain/bin/*
Domain/obj/*

UnitTest/bin/*
UnitTest/obj/*


